@import "config";
@import "mixin";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $default-font-family;
    border-radius: 0.7vh;
    font-size: $font-size-medium;
    cursor: default;
}

::selection {
    background: transparent;
}

::-webkit-scrollbar {
    width: 1.4vh;

    &-track {
        background: $main-background;
    }

    &-thumb {
        background: $thomb-color;
        border-radius: 1.4vh;
        outline: 0.3vh solid $main-background;
        outline-offset: -0.3vh;
        transition: background 0.5s;

        &:hover {
            background: $thomb-color-hover;
        }
    }
}

body {
    width: 100%;
    height: 100vh;
    background: $body-background;
}

@import "filter-nav";
@import "main-interface";
@import "save-list";
