* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border-radius: 0.7vh;
    cursor: default;
    font-size: 2.24vh;
}
:root {
    --light-purple: rgba(141, 70, 255, 0.886);
    --dark-purple: rgba(127, 48, 255, 0.886);
    --light-red: rgb(255, 97, 76);
    --dark-red: rgb(250, 83, 61);
    --light-gray: rgb(237, 237, 237);
    --dark-gray: rgb(221, 221, 221);
}
::selection {
    background: transparent;
}
::-webkit-scrollbar {
    width: 1.4vh;
    height: 1.4vh;
    background: transparent;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(166, 166, 166, 0.674);
    height: 14vh;
    border-radius: 1.4vh;
    outline: 0.3vh solid white;
    outline-offset: -0.3vh;
    transition: background 0.5s;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(137, 137, 137, 0.674);
}
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgb(48, 72, 255), rgb(0, 238, 255));
}
#main-div {
    background: white;
    width: 50.5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1.4vh rgba(0, 0, 0, 0.397);
    padding: 2.8vh;
    padding-bottom: 2.1vh;
}
h1 {
    font-weight: 600;
    margin: 1.4vh 0;
    font-size: 4.62vh;
}
br {
    display: block;
    height: 0.7vh;
    content: "";
}
#todo-input {
    padding: 0.7vh 1.7vh;
    margin: 1.4vh 0 0.7vh;
    font-size: 2.5vh;
    color: rgb(103, 103, 103);
    height: 5.4vh;
    width: 38.5vh;
    border: 0.14vh solid rgb(114, 114, 114);
}
#todo-input:focus {
    color: black;
    cursor: auto;
}
#add-btn {
    width: 5.75vh;
    height: 5.33vh;
    display: inline-flex;
    color: white;
    background-color: var(--dark-purple);
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 5.6vh;
    padding-bottom: 0.7vh;
    position: relative;
    top: 1.12vh;
    cursor: pointer;
}
#save-list {
    max-height: 42vh;
    overflow-y: scroll;
    width: 46.85vh;
}
#save-list span:last-child {
    margin-bottom: 0.7vh;
}
#save-list span {
    padding: 0.7vh 0 0.7vh 1.7vh;
    margin-top: 0.7vh;
    font-size: 2.5vh;
    height: 5.3vh;
    display: flex;
    background: var(--light-gray);
    border-radius: 0.42vh;
    justify-content: space-between;
    align-items: center;
    width: 44.9vh;
}
#save-list span div:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 0.7vh;
}
#save-list div[id*="delete-btn"] {
    border: 0.14vh solid red;
    color: white;
    background: var(--dark-red);
    opacity: 0;
    padding: 0.7vh 1.8vh;
    font-family: cursive;
    border-radius: 0 0.4vh 0.4vh 0;
    cursor: pointer;
    opacity: 0.1s;
    transition: opacity 0.25s 0.05s !important;
}
#save-list span:hover {
    background: var(--dark-gray);
}
#save-list span:hover div[id*="delete-btn"] {
    opacity: 1;
}
#save-list div[id*="delete-btn"]:hover {
    background: var(--light-red);
}
#save-list div[id*="delete-btn"]:active {
    transition: background 0.05s !important;
    background: var(--dark-red);
}
#last-line {
    display: flex;
    justify-content: space-between;
    margin-top: 2.1vh;
}
#clear-btn {
    background: var(--dark-purple);
    color: white;
    padding: 1vh 1.12vh;
    position: relative;
    top: -1.12vh;
    border-radius: 0.42vh;
    cursor: pointer;
}
#clear-btn:hover,
#add-btn:hover {
    background: var(--light-purple);
}
#clear-btn:active,
#add-btn:active {
    background: var(--dark-purple);
}
#clear-btn,
#save-list span,
#add-btn,
#todo-input {
    transition: background 0.1s;
}
