* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border-radius: 0.7vh;
    cursor: default;
    font-size: 2.24vh;
}
:root {
    --light-purple: rgba(141, 70, 255, 0.886);
    --dark-purple: rgba(127, 48, 255, 0.886);
    --light-gray: rgb(237, 237, 237);
    --dark-gray: rgb(221, 221, 221);
}
::selection {
    background: transparent;
}
::-webkit-scrollbar {
    width: 1.4vh;
    height: 1.4vh;
    background: transparent;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(166, 166, 166, 0.674);
    height: 14vh;
    border-radius: 1.4vh;
    outline: 0.3vh solid white;
    outline-offset: -0.3vh;
    transition: background 0.5s;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(137, 137, 137, 0.674);
}
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgb(48, 72, 255), rgb(0, 238, 255));
}
#main-div {
    background: white;
    width: 50.5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1.4vh rgba(0, 0, 0, 0.397);
    padding: 2.8vh;
    padding-bottom: 2.1vh;
    position: relative;
}
h1 {
    font-weight: 600;
    margin: 1.4vh 0;
    font-size: 4.62vh;
}
br {
    display: block;
    height: 0.7vh;
    content: "";
}
#todo-input {
    padding: 0.7vh 1.7vh;
    margin: 1.4vh 0 0.7vh;
    font-size: 2.5vh;
    color: rgb(103, 103, 103);
    height: 5.4vh;
    width: 38.5vh;
    border: 0.14vh solid rgb(114, 114, 114);
}
#todo-input::selection {
    background: var(--dark-purple);
    color: white;
}
#todo-input:focus {
    color: black;
    cursor: auto;
}
#add-btn {
    width: 5.75vh;
    height: 5.33vh;
    display: inline-flex;
    color: white;
    background-color: var(--dark-purple);
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 5.6vh;
    padding-bottom: 0.7vh;
    position: relative;
    top: 1.12vh;
    cursor: pointer;
}
#save-list {
    max-height: 42vh;
    overflow-y: scroll;
    width: 46.85vh;
}
#save-list span:last-child {
    margin-bottom: 0.7vh;
}
#save-list span {
    position: relative;
    padding-left: 1.7vh;
    margin-top: 0.7vh;
    font-size: 2.5vh;
    height: 5.3vh;
    display: flex;
    align-items: center;
    background: var(--light-gray);
    border-radius: 0.42vh;
    justify-content: space-between;
    width: 44.9vh;
    transition: opacity 0.5s, background 0.1s, transform 0.4s;
}
#save-list span div:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 0.7vh;
}
svg {
    width: 2.8vh;
    height: 3.37vh;
    cursor: pointer;
}
div[id*="edit-number"],
div[id*="complete-number"],
div[id*="delete-number"] {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8vh;
    height: 100%;
    width: 5.75vh;
    font-family: cursive;
    border-radius: 0;
    cursor: pointer;
    position: absolute;
    transition: opacity 0.25s 0.05s, background 0.2s !important;
}
div[id*="edit-number"] {
    right: 11.2vh;
    background: rgb(109, 109, 255);
}
div[id*="complete-number"] {
    right: 5.7vh;
    background: rgb(109, 255, 177);
}
div[id*="delete-number"] {
    border-radius: 0 0.4vh 0.4vh 0;
    right: 0;
    background: rgb(255, 109, 109);
}
#save-list span:hover {
    background: var(--dark-gray);
}
#save-list span:hover div[id*="edit-number"],
#save-list span:hover div[id*="complete-number"],
#save-list span:hover div[id*="delete-number"] {
    opacity: 0.95;
}
div[id*="edit-number"]:hover {
    background: rgb(139, 126, 255);
}
div[id*="complete-number"]:hover {
    background: rgb(142, 253, 199);
}
div[id*="delete-number"]:hover {
    background: rgb(255, 137, 137);
}
div[id*="edit-number"]:active {
    background: rgb(109, 109, 255);
}
div[id*="complete-number"]:active {
    background: rgb(109, 255, 177);
}
div[id*="delete-number"]:active {
    background: rgb(255, 109, 109);
}
#last-line {
    display: flex;
    justify-content: space-between;
    margin-top: 2.1vh;
}
#clear-btn {
    background: var(--dark-purple);
    color: white;
    padding: 1vh 1.12vh;
    position: relative;
    top: -1.12vh;
    border-radius: 0.42vh;
    cursor: pointer;
}
#clear-btn:hover,
#add-btn:hover {
    background: var(--light-purple);
}
#clear-btn:active,
#add-btn:active {
    background: var(--dark-purple);
}
#clear-btn,
#add-btn,
#todo-input {
    transition: background 0.1s;
}
.complete-todo {
    color: gray;
    text-decoration: line-through;
}
#filter-nav-background,
#filter-nav-text {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    position: absolute;
    top: 35.5vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50.5vh;
}
#filter-nav-background svg {
    width: 170%;
    height: 4.5vh;
}
#filter-nav-text {
    gap: 1.964vh;
    padding-left: 4.6vh;
}
#filter-nav-text p {
    z-index: 3;
    width: 130%;
    padding-bottom: 1.3vh;
    font-size: 1.68vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#filter-nav-background div:first-child {
    z-index: 2;
}
