* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border-radius: 0.7vh;
  font-size: 2.24vh;
  cursor: default;
}

::selection {
  background: transparent;
}

::-webkit-scrollbar {
  width: 1.4vh;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: rgba(166, 166, 166, 0.674);
  border-radius: 1.4vh;
  outline: 0.3vh solid white;
  outline-offset: -0.3vh;
  transition: background 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(137, 137, 137, 0.674);
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgb(48, 72, 255), rgb(0, 238, 255));
}

h1 {
  font-weight: 600;
  margin: 1.4vh 0;
  font-size: 4.62vh;
}

br {
  display: block;
  height: 0.7vh;
  content: "";
}

#main-div {
  background: white;
  width: 50.5vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 1.4vh rgba(0, 0, 0, 0.397);
  padding: 2.8vh;
  padding-bottom: 2.1vh;
  position: relative;
}

#todo-input {
  padding: 0.7vh 1.7vh;
  margin: 1.4vh 0 0.7vh;
  font-size: 2.5vh;
  color: rgb(103, 103, 103);
  height: 5.4vh;
  width: 38.5vh;
  border: 0.14vh solid rgb(114, 114, 114);
  transition: background 0.1s;
}
#todo-input::selection {
  background: rgba(127, 48, 255, 0.886);
  color: white;
}
#todo-input:focus {
  color: black;
  cursor: auto;
}

#add-btn {
  width: 5.75vh;
  height: 5.33vh;
  display: inline-flex;
  color: white;
  background-color: rgba(127, 48, 255, 0.886);
  justify-content: center;
  align-items: center;
  font-family: cursive;
  font-size: 5.6vh;
  padding-bottom: 0.7vh;
  position: relative;
  top: 1.12vh;
  cursor: pointer;
  transition: background 0.1s;
}
#add-btn:hover {
  background: rgba(141, 70, 255, 0.886);
}
#add-btn:active {
  background: rgba(127, 48, 255, 0.886);
}

.change-add-btn {
  font-size: 4.8vh !important;
  padding: 0.5vh;
}

#save-list {
  max-height: 42vh;
  overflow-y: scroll;
  width: 46.85vh;
}
#save-list span {
  position: relative;
  padding-left: 1.7vh;
  margin-top: 0.7vh;
  font-size: 2.5vh;
  height: 5.3vh;
  display: flex;
  align-items: center;
  background: rgb(237, 237, 237);
  border-radius: 0.42vh;
  justify-content: space-between;
  width: 44.9vh;
  transition: opacity 0.5s, background 0.1s, transform 0.4s;
}
#save-list span:last-child {
  margin-bottom: 0.7vh;
}
#save-list span:hover {
  background: rgb(221, 221, 221);
}
#save-list span:hover div[id*=edit-number] {
  opacity: 0.95;
}
#save-list span:hover div[id*=edit-number]:hover {
  background: rgb(139, 126, 255);
}
#save-list span:hover div[id*=edit-number]:active {
  background: rgb(109, 109, 255);
}
#save-list span:hover div[id*=complete-number] {
  opacity: 0.95;
}
#save-list span:hover div[id*=complete-number]:hover {
  background: rgb(142, 253, 199);
}
#save-list span:hover div[id*=complete-number]:active {
  background: rgb(109, 255, 177);
}
#save-list span:hover div[id*=delete-number] {
  opacity: 0.95;
}
#save-list span:hover div[id*=delete-number]:hover {
  background: rgb(255, 137, 137);
}
#save-list span:hover div[id*=delete-number]:active {
  background: rgb(255, 109, 109);
}
#save-list span div:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 0.7vh;
}

div[id*=edit-number] {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8vh;
  height: 100%;
  width: 5.75vh;
  font-family: cursive;
  border-radius: 0;
  cursor: pointer;
  position: absolute;
  transition: opacity 0.25s 0.05s, background 0.2s !important;
  right: 11.4vh;
  background: rgb(109, 109, 255);
}

div[id*=complete-number] {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8vh;
  height: 100%;
  width: 5.75vh;
  font-family: cursive;
  border-radius: 0;
  cursor: pointer;
  position: absolute;
  transition: opacity 0.25s 0.05s, background 0.2s !important;
  right: 5.7vh;
  background: rgb(109, 255, 177);
}

div[id*=delete-number] {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8vh;
  height: 100%;
  width: 5.75vh;
  font-family: cursive;
  border-radius: 0;
  cursor: pointer;
  position: absolute;
  transition: opacity 0.25s 0.05s, background 0.2s !important;
  border-radius: 0 0.4vh 0.4vh 0;
  right: 0;
  background: rgb(255, 109, 109);
}

svg {
  width: 2.8vh;
  height: 3.37vh;
  cursor: pointer;
}

#last-line {
  display: flex;
  justify-content: space-between;
  margin-top: 2.1vh;
}

#clear-btn {
  background: rgba(127, 48, 255, 0.886);
  color: white;
  padding: 1vh 1.12vh;
  position: relative;
  top: -1.12vh;
  border-radius: 0.42vh;
  cursor: pointer;
  transition: background 0.1s;
}
#clear-btn:hover {
  background: rgba(141, 70, 255, 0.886);
}
#clear-btn:active {
  background: rgba(127, 48, 255, 0.886);
}

.complete-todo {
  color: gray;
  text-decoration: line-through;
}

#filter-nav-background, #filter-nav-text {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  position: absolute;
  top: 35.5vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50.5vh;
}
#filter-nav-background svg, #filter-nav-text svg {
  width: 170%;
  height: 4.5vh;
  opacity: 1;
}
#filter-nav-background div:first-child, #filter-nav-text div:first-child {
  z-index: 1;
}

#filter-nav-text {
  gap: 1.964vh;
  padding-left: 4.6vh;
}
#filter-nav-text p {
  z-index: 2;
  width: 130%;
  padding-bottom: 1.3vh;
  font-size: 1.68vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}/*# sourceMappingURL=plz work.css.map */